<h1>SHOW BOOKING DETAILS</h1>

<p><strong>Guestname: </strong><%= @booking.guestname %></p>
<p><strong>Check-In: </strong><%= @booking.checkin %></p>
<p><strong>Check-Out: </strong><%= @booking.checkout %></p>
<p><strong>Price: </strong><%= @booking.price %></p>